.header__lang-link {
  max-width: 30px;
  margin-right: 18px;
  font-family: 'inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  opacity: 1;
  transition: opacity .5s easy;
  padding-bottom: 5px;
  color: #fff;
}

.header__lang-link:hover {
  opacity: .8;
}

.header__lang-link:last-child {
  text-decoration-line: none;
  margin-right: 0;
  padding-left: 0;
}

@media screen  and (max-width: 767px) {
.header__lang-link {
  max-width: 22px;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 7px;
  }
}

