.place__link {
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  margin: 0;
  opacity: 1;
}

.place__link:hover {
  transition-duration: .5s;
  transition-timing-function: linear;
  opacity: .8;
}

@media screen  and (max-width: 1023px) {
  .place__link {
  max-width: 352px;
  }
}

@media screen  and (max-width: 767px) {
  .place__link {
  max-width: 288px;
  padding-top: 2px;
  }
}