.footer__links {
  max-width: 462px;
  min-height: 18px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-right: 526px;
  flex: 1;
}

@media screen  and (max-width: 1279px) {
  .footer__links {
  margin: 0;
  margin-right: 277px;
  }
}

@media screen  and (max-width: 1023px) {
  .footer__links {
    max-width: 465px;
    margin-right: 69px;
  }
}

@media screen  and (max-width: 767px) {
  .footer__links {
  max-width: 158px;
  min-height: 248px;
  flex-flow: column;
  justify-content: space-between;
  }
}