.footer {
  max-width: 1174px;
  margin: 0 auto;
  padding: 92px 48px 24px;
  display: flex;
  justify-content: space-between;
}

@media screen  and (max-width: 1279px) {
  .footer {
  max-width: 928px;
  }
}

@media screen  and (max-width: 1023px) {
  .footer {
  max-width: 720px;
  padding: 88px 24px 24px;
  }
}

@media screen  and (max-width: 767px) {
  .footer {
  max-width: 186px;
  padding-top: 64px;
  padding-right: 118px;
  padding-left: 16px;
  padding-bottom: 24px;
  flex-flow: column;
  justify-content: start;
  }
}