.place__url-heading {
  max-width: 456px;
  font-family: 'inter', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 8px;
  color: #aaa;
  text-transform: uppercase;
}

@media screen  and (max-width: 1023px) {
  .place__url-heading {
  max-width: 352px;
  padding-bottom: 11px;
  }
}

@media screen  and (max-width: 767px) {
  .place__url-heading {
  max-width: 288px;
  padding-bottom: 10px;
  }
}